%%-*- mode: erlang -*-
[
 %% SASL config
 {sasl,
  [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

 %% Riak Core config
 {riak_core,
  [
   %% Default location of ringstate
   {ring_state_dir, "./data/ring"},

   %% Default ring creation size.  Make sure it is a power of 2,
   %% e.g. 16, 32, 64, 128, 256, 512 etc
                                                %{ring_creation_size, 64},

   %% http is a list of IP addresses and TCP ports that the Riak
   %% HTTP interface will bind.
   {http, [ {"127.0.0.1", 7098 } ]},

   %% https is a list of IP addresses and TCP ports that the Riak
   %% HTTPS interface will bind.
                                                %{https, [{ "127.0.0.1", 8098 }]},

   %% Default cert and key locations for https can be overridden
   %% with the ssl config variable, for example:
                                                %{ssl, [
                                                %       {certfile, "./etc/cert.pem"},
                                                %       {keyfile, "./etc/key.pem"}
                                                %      ]},

   %% riak_handoff_port is the TCP port that Riak uses for
   %% intra-cluster data handoff.
   {handoff_port, 7099 },

   %% To encrypt riak_core intra-cluster data handoff traffic,
   %% uncomment the following line and edit its path to an
   %% appropriate certfile and keyfile.  (This example uses a
   %% single file with both items concatenated together.)
                                                %{handoff_ssl_options, [{certfile, "/tmp/erlserver.pem"}]},

   %% DTrace support
   %% Do not enable 'dtrace_support' unless your Erlang/OTP
   %% runtime is compiled to support DTrace.  DTrace is
   %% available in R15B01 (supported by the Erlang/OTP
   %% official source package) and in R14B04 via a custom
   %% source repository & branch.
   {dtrace_support, false},

   %% Health Checks
   %% If disabled, health checks registered by an application will
   %% be ignored. NOTE: this option cannot be changed at runtime.
   %% To re-enable, the setting must be changed and the node restarted.
   %% NOTE: As of Riak 1.3.2, health checks are deprecated as they
   %% may interfere with the new overload protection mechanisms.
   %% If there is a good reason to re-enable them, you must uncomment
   %% this line and also add an entry in the riak_kv section:
   %%          {riak_kv, [ ..., {enable_health_checks, true}, ...]}
   %% {enable_health_checks, true},

   %% Platform-specific installation paths (substituted by rebar)
   {platform_bin_dir, "./bin"},
   {platform_data_dir, "./data"},
   {platform_etc_dir, "./etc"},
   {platform_lib_dir, "./lib"},
   {platform_log_dir, "./log"}
  ]}
].

